@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
}

html,
body {
  min-height: 100%;
}

.error {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.error-number {
  font-size: 30px;
  color: #32104a;
}

.layout {
  background: #fffefe;
  color: black;
  margin: 0 auto;
}

.about {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.link {
  display: flex;
  align-items: center;
}

.link.phone {
  color: #694173;
}

.link-transfer,
.link-bold {
  font-weight: 600;
  cursor: pointer;
}

.link-thin {
  font-weight: 400;
}

.link-transfer:hover,
.link-bold:hover,
.link:hover,
.link.address:hover,
.link.footer:hover {
  color: #32104a;
}

.nav-link {
  font-weight: 400;
  border-bottom: 1px solid transparent;
  color: #32104a;
  cursor: pointer;
  padding-bottom: 3px;
  transition: all 0.5s ease-out;
}

.nav-link.active {
  border-color: #32104a;
}

.nav-link.index {
  display: none;
}

.logo {
  color: #32104a;
  cursor: pointer;
  font-size: 24px;
  padding: 20px;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-left: 70px;
  padding-right: 20px;
  /* background-image: url("../assets/images/bg-teksika.png"); */
  background-repeat: repeat-y;
  background-size: 14%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  min-height: 90vh;
  height: 100%;
}
/* .content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-left: 70px;
  padding-right: 20px;
  position: relative;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  min-height: 90vh;
  height: 100%;
  background-color: white;
  background-size: 14%;
  
}
} */
.content::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../assets/images/bg-teksika.png");
  background-repeat: repeat-y;
  opacity: 0.8;
  background-size: 10%;
  height: 100%;
  background-repeat: repeat-y;
  pointer-events: none;
}

.frame {
  border: 1px solid #32104a;
  border-radius: 6px;
  width: 50vw;
}

.title {
  padding-top: 30px;
  color: #32104a;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.subtitle,
.subtitle-list {
  color: #664e4a;
  font-weight: 600;
  margin-bottom: 3px;
}

.subtitle-list {
  padding-top: 15px;
}

.questions-list li {
  margin-bottom: 10px;
}

.catalog {
  padding-top: 80px;
  padding-bottom: 40px;
  align-content: center;
}

.list-links {
  display: flex;
  /* height: 100%; */
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
  list-style: none;
}

.manager-list {
  display: flex;
  gap: 10px;
}

.manager-list,
.schedule-list,
.questions-list {
  flex-direction: column;
  list-style: none;
}

.link-prom {
  display: flex;
  padding: 0;
  width: 200px;
  height: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #694173;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  outline: none;
  box-shadow: 3px 1px 1px #32104a;
  border: 1px solid #694173;
}

.link-prom:hover {
  background-color: white;
}

.btn-link:hover {
  background-color: #694173;
  color: white;
}

.link-prom:hover .btn-prom {
  color: #32104a;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 40px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  outline: none;
  box-shadow: 3px 1px 1px #32104a;
  border: 1px solid #694173;
  align-self: center;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: opacity 2s ease-out;
  background-color: white;
  color: #32104a;
}

.btn-prom {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 2px;
}

.text {
  text-indent: 20px;
  padding: 3px 10px;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}

.text-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.text-list.grey,
.text-grey {
  color: #474848;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
}

.left {
  width: 100%;
}

.contact-section {
  padding-top: 10px;
  margin-bottom: 15px;
}

.link.address {
  font-weight: 400;
  max-width: 237px;
}

.link.footer {
  font-weight: 400;
  max-width: 168px;
}

.link.footer {
  color: #694173;
}
.icon {
  width: 60px;
  border-radius: 6px;
  margin-right: 1px;
}
.social {
  margin-right: 5px;
  font-size: 20px;
}

.icons-list {
  display: flex;
  flex-direction: column;
}

.questions {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 600px;
}

.footer {
  position: fixed;
  bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  padding-left: 5%;
  gap: 30px;
  margin-bottom: 30px;
}

.intro {
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  /* gap: 14%; */
}

.media {
  display: flex;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title-main {
  color: #694173;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  /* animation: slideInFromTop 2s ease-in-out; */
  letter-spacing: 2px;
  font-weight: 500;
}

.slogan {
  display: flex;
  font-style: italic;
  font-weight: 300;
  align-self: flex-end;
  text-align: center;
  color: #32104a;
  font-size: 30px;
  text-transform: uppercase;
  animation: slideInFromBottom 2s ease-in-out;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.site-title {
  font-size: 16px;
}

@media screen and (min-width: 570px) {
  .content {
    padding-left: 100px;
    min-height: 100vh;
    background-size: 10%;
  }

  .left {
    width: 40%;
  }

  .contacts-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .frame {
    width: 49%;
    height: 300px;
  }

  .logo {
    font-size: 20px;
  }

  .intro {
    flex-direction: row;
  }

  .main {
    padding-left: 1%;
    gap: 60px;
  }
}
@media screen and (min-width: 1020px) {
  .content {
    padding-left: 150px;
    /* background-size: 20%; */
    min-height: 95vh;
  }

  .content::before {
    background-size: 18%;
  }

  .logo {
    font-size: 30px;
  }

  .text {
    font-size: 20px;
    line-height: 28px;
  }

  .catalog {
    align-content: center;
    padding-left: 10%;
    max-width: 1200px;
  }

  .questions {
    max-width: 910px;
    padding-left: 6%;
  }

  .nav-link.index {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    cursor: pointer;
  }

  .nav-link:hover,
  .nav-link.index:hover,
  .nav-link.active {
    border-color: #32104a;
  }

  .social:hover {
    color: #32104a;
  }

  .title-main {
    font-size: 34px;
  }

  .intro {
    margin-right: 70px;
    flex-direction: row;
  }

  .slogan {
    font-size: 66px;
    letter-spacing: 8px;
  }

  .main {
    padding-top: 0;
    margin-bottom: 0;
    padding-left: 9%;
    gap: 60px;
  }

  .contacts-wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10%;
  }

  .contact-section {
    padding-left: 5%;
  }

  .left {
    width: 40%;
  }

  .frame {
    width: 45vw;
    min-height: 400px;
  }
}

@media screen and (min-width: 1800px) {
  .content {
    min-height: 100vh;
  }

  .contact-section {
    padding-left: 30%;
  }

  .contacts-wrapper {
    gap: 5%;
  }

  .frame {
    width: 35vw;
  }
}
