@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
}

html,
body {
  min-height: 100%;
}

.layout {
  background: #fffefe;
  color: black;
  margin: 0 auto;
}

.about {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.link {
  display: flex;
  align-items: center;
}

.link-transfer,
.link-bold {
  font-weight: 600;
  cursor: pointer;
}

.link-thin {
  font-weight: 400;
}

.link-transfer:hover,
.link-bold:hover,
.link:hover {
  color: #32104a;
}

.nav-link {
  font-weight: 400;
  border-bottom: 1px solid transparent;
  color: #32104a;
  cursor: pointer;
  padding-bottom: 3px;
  transition: all 0.5s ease-out;
}

.nav-link.index {
  display: none;
}

.logo {
  color: #32104a;
  cursor: pointer;
  font-size: 26px;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-left: 70px;
  padding-right: 20px;
  background-image: url("../assets/images/bg-teksika.png");
  background-repeat: repeat-y;
  background-size: 14%;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  min-height: 100vh;
  height: 100%;
}

.frame {
  border: 1px solid #32104a;
  border-radius: 6px;
  min-height: 300px;
}

.title {
  padding-top: 30px;
  color: #32104a;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.subtitle,
.subtitle-list {
  color: #664e4a;
  font-weight: 600;
  margin-bottom: 3px;
}

.subtitle-list {
  padding-top: 15px;
}

.questions-list li {
  margin-bottom: 10px;
}

.catalog {
  padding-top: 80px;
  padding-bottom: 40px;
  align-content: center;
}

.list-links {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
  list-style: none;
}

.manager-list {
  display: flex;
  gap: 10px;
}

.manager-list,
.schedule-list,
.questions-list {
  flex-direction: column;
  list-style: none;
}


.prom-btn {
  display: flex;
  width: 200px;
  height: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #694173;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  outline: none;
  box-shadow: 3px 1px 1px #32104a;
  border: 1px solid #694173;
}

.prom-btn:hover {
  background-color: white;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #694173;
  padding: 15px 40px;
  margin-right: 30%;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  outline: none;
  box-shadow: 3px 1px 1px #32104a;
  border: 1px solid #694173;
  align-self: flex-end;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  animation: opacity 2s ease-out;
}

.btn-link:hover {
  background-color: white;
  color: #32104a;
}

.prom-btn:hover .prom-link {
  color: #32104a;
}

.prom-link {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 20px;
}

.text {
  text-indent: 20px;
  padding: 3px 10px;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}

.text-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.contacts {
  padding-top: 80px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-section {
  padding-top: 10px;
  margin-bottom: 5px;
}

.social {
  margin-right: 5px;
}

.questions {
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 600px;
}

.footer {
  position: fixed;
  bottom: 0;
}

.main {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 10%;
  gap: 60px;
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title-main {
  color: #694173;
  font-size: 22px;
  text-transform: uppercase;
  animation: slideInFromTop 2s ease-in-out;
}


.slogan {
  display: flex;
  align-self: flex-end;
  padding-top: 50px;
  text-align: end;
  color: #32104a;
  font-size: 30px;
  text-transform: uppercase;
  animation: slideInFromBottom 2s ease-in-out;
}

@media screen and (min-width: 570px) {
  .content {
    padding-bottom: 100px;
    padding-left: 100px;
    background-size: 10%;
  }

  .logo {
    font-size: 20px;
  }

  .slogan {
    width: 80%;
  }

  .main {
    padding-left: 1%;
  }
}
@media screen and (min-width: 1020px) {
  .content {
    padding-left: 150px;
    background-size: 20%;
  }

  .logo {
    font-size: 30px;
  }

  .catalog {
    align-content: center;
    padding-left: 10%;
  }

  .questions {
    max-width: 900px;
    padding-left: 6%;
  }

  .prom-btn {
    width: 200px;
    height: 50px;
  }

  .nav-link.index {
    display: block;
    align-self: flex-end;
    justify-self: flex-end;
}

  .nav-link:hover,
  .nav-link.index:hover {
    border-color: #32104a;
  }

  .social:hover {
  color:#32104a;
}

  .title-main {
    font-size: 34px;
  }

  .slogan {
    font-size: 60px;
  }

  .main {
    padding-left: 10%;
  }
}
