@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
}

html,
body {
  min-height: 100%;
}

.layout {
  background: white;
  color: black;
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link {
  font-weight: 400;
  border-bottom: 1px solid transparent;
  color: #32104a;
  cursor: pointer;
  padding-bottom: 3px;
  transition: all 0.5s ease-out;
}

.nav-link:hover {
  border-color: #32104a;
}

.logo {
  color: #32104a;
  cursor: pointer;
  font-size: 30px;
}

.content {
  display: flex;
  margin-top: 5px;
  padding-left: 180px;
  padding-right: 20px;
  background-image: url("../assets/images/bg-teksika.png");
  background-repeat: repeat-y;
  height: 100vh;
}

.frame {
  width: 100%;
  min-height: 300px;
}

@media screen and(min-width: 1020px) {
  .content {
    padding-left: 150px;
    background-size: 40%;
  }
}
