@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: black;
}

html,
body {
  min-height: 100%;
}

.layout {
  background: white;
  color: black;
  margin: 0 auto;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-link {
  font-weight: 400;
  border-bottom: 1px solid transparent;
  color: #32104a;
  cursor: pointer;
  padding-bottom: 3px;
  transition: all 0.5s ease-out;
}

.nav-link:hover {
  border-color: #32104a;
}

.logo {
  color: #32104a;
  cursor: pointer;
  font-size: 30px;
}

.content {
  display: flex;
  margin-top: 5px;
  padding-left: 70px;
  padding-right: 20px;
  background-image: url("../assets/images/bg-teksika.png");
  background-repeat: repeat-y;
  background-size: 13%;
  height: 100vh;
}

.frame {
  width: 100%;
  min-height: 300px;
}

.title {
  padding-top: 30px;
  color: #664e4a;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

.catalog {
  height: 100vh;
  align-content: center;
}

.list-links {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px 20px;
  list-style: none;
}

.prom-btn {
  display: flex;
  width: 200px;
  height: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #694173;
  padding: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  outline: none;
  box-shadow: 3px 1px 1px #32104a;
}

.prom-btn:hover {
  background-color: #ebe523;
}

.prom-btn:hover .prom-link {
  color: black;
}

.prom-link {
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 20px;
}

.text {
  text-indent: 20px;
  padding: 3px 10px;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
}

@media screen and (min-width: 1020px) {
  .content {
    padding-left: 150px;
    background-size: 10%;
  }

  .catalog {
    align-content: center;
  }

  .prom-btn {
    width: 200px;
    height: 50px;
  }
}
