@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&family=Space+Grotesk:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: black;
}

html,
body {
  min-height: 100%;
}

.layout {
  background: white;
  color: black;
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}

nav .links {
  display: inline-block;
  text-align: right;
}

nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  color: #32104a;
  cursor: pointer;
}

nav a:hover {
  border-color: #32104a;
}

nav .logo {
  color: #32104a;
  cursor: pointer;
}
